
@{
    ViewBag.Title = "Pokemon List";
}


@foreach (var item in ViewBag.pokemons)
{
    <div class="pokemon-data clearfix white-background">
        <p class="pokemon-name">@item.name <span class="pokemon-number"> N.º @item.id</span></p>

        <div class="pokemon-img-container">
            <img class="pokemon-img" src="@item.img" />
        </div>
        <div class="pokemon-txt-container">
            <p class="pokemon-txt-header">Type:</p>
            @if (item.type1 != null)
            {
                foreach (var type in ViewBag.tipos)
                {
                    if (item.type1 == type.id)
                    {
                        var imgPath = type.type + ".png";
                        <img class="type-img" src="~/Images/Types/@imgPath" />
                    }


                }
            }
            @if (item.type2 != null)
            {
                foreach (var type in ViewBag.tipos)
                {
                    if (item.type2 == type.id)
                    {
                        var imgPath = type.type + ".png";
                        <img class="type-img" src="~/Images/Types/@imgPath" />
                    }


                }
            }
            <p class="pokemon-txt-header">Weaknesses:</p>

            @*@foreach (var ventaja in ViewBag.ventajas)
        {
            if (ventaja.defender_id == item.type1)
            {
                var multiplier = ventaja.damage_multiplier;

                if (item.type2 != null)
                {
                    foreach (var ventaja2 in ViewBag.ventajas)
                    {
                        if (ventaja2.defender_id == item.type2 && ventaja.attacker_id == ventaja2.attacker_id)
                        {

                            multiplier = (multiplier * ventaja2.damage_multiplier);
                        }
                    }
                }

                if (multiplier > 1)
                {
                    foreach (var type in ViewBag.tipos)
                    {
                        if (ventaja.attacker_id == type.id)
                        {
                            var imgPath = type.type + ".png";
                            <img class="type-img" src="~/Images/Types/@imgPath" />
                        }


                    }
                }
            }
        }*@
            @foreach (var tipo in ViewBag.tipos)
            {
                var multiplier = 1.0;
                foreach (var ventaja in ViewBag.ventajas)
                {
                    if (ventaja.defender_id == item.type1 && ventaja.attacker_id == tipo.id)
                    {
                        multiplier = ventaja.damage_multiplier;
                    }
                }
                if (item.type2 != null)
                {
                    foreach (var ventaja2 in ViewBag.ventajas)
                    {
                        if (ventaja2.defender_id == item.type2 && ventaja2.attacker_id == tipo.id)
                        {

                            multiplier = (multiplier * ventaja2.damage_multiplier);
                        }
                    }
                }

                if (multiplier > 1)
                {
                    var imgPath = tipo.type + ".png";
                    <img class="type-img" src="~/Images/Types/@imgPath" />
                }
            }

            <p class="pokemon-txt-header">Resistances:</p>

            @foreach (var tipo in ViewBag.tipos)
            {
                var multiplier = 1.0;
                foreach (var ventaja in ViewBag.ventajas)
                {
                    if (ventaja.defender_id == item.type1 && ventaja.attacker_id == tipo.id)
                    {
                        multiplier = ventaja.damage_multiplier;
                    }
                }
                if (item.type2 != null)
                {
                    foreach (var ventaja2 in ViewBag.ventajas)
                    {
                        if (ventaja2.defender_id == item.type2 && ventaja2.attacker_id == tipo.id)
                        {

                            multiplier = (multiplier * ventaja2.damage_multiplier);
                        }
                    }
                }

                if (multiplier < 1)
                {
                    var imgPath = tipo.type + ".png";
                    <img class="type-img" src="~/Images/Types/@imgPath" />
                }
            }

            <div class="pokemon-blue-container clearfix">

                <div class="container">
                    <p class="pokemon-txt-header">Height:</p>
                    <p class="pokemon-hw">@item.height</p>
                </div>

                <div class="container">
                    <p class="pokemon-txt-header">Weight:</p>
                    <p class="pokemon-hw">@item.weight</p>
                </div>

            </div>

        </div>
    </div>
}